
// Fonts
@import url(//fonts.googleapis.com/css?family=Comfortaa);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


@import url(//fonts.googleapis.com/css?family=Roboto:400,300);
@import url(//fonts.googleapis.com/css?family=Pacifico);

input:focus,
button:focus {
  outline: none;
}

button:hover,
.reset:hover {
  opacity: .8;
}

button:active,
.reset:active {
  opacity: .5;
}

.container-steps {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.steps {
  margin-bottom: 10px;
  position: relative;
  height: 25px;
}

.steps > div {
  position: absolute;
  top: 0;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  height: 25px;
  padding: 0 5px;;
  display: inline-block;
  width: 80px;
  text-align: center;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.steps > div > span {
  line-height: 25px;
  height: 25px;
  margin: 0;
  color: #777;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  font-weight: 300;
}

.steps > div > .liner {
  position: absolute;
  height: 2px;
  width: 0%;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background: #999;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.step-start {
  left: 0;
}

.step-ul {
  left: 16.6%;
  clip: rect(0, 0px, 25px, 0px);
}

.step-choose {
  left: 33.3%;
  clip: rect(0, 0px, 25px, 0px);
}

.step-size {
  left: 50%;
  clip: rect(0, 0px, 25px, 0px);
}

.step-sound {
  left: 66.6%;
  clip: rect(0, 0px, 25px, 0px);
}

.step-res {
  left: 83.3%;
  clip: rect(0, 0px, 25px, 0px);
}

.step-clip {
  left: 100%;
  clip: rect(0, 0px, 25px, 0px);
}

.line {
  width: 100%;
  height: 5px;
  background: #ddd;
  position: relative;
  border-radius: 10px;
  overflow: visible;
  margin-bottom: 50px;
}

.line .dot-move {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 15px;
  height: 15px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #ddd;
  border-radius: 50%;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.line .dot {
  position: absolute;
  top: 50%;
  width: 15px;
  height: 15px;
  left: 0;
  background: #ddd;
  border-radius: 50%;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform: translate(-50%, -50%) scale(.5);
  -ms-transform: translate(-50%, -50%) scale(.5);
  transform: translate(-50%, -50%) scale(.5);
}

.line .dot.start {
  left: 0%;
  background: #bbb;
}

.container-steps.slider-start-active .dot.start {
  background: #5892fc;
}

.line .dot.ul {
  left: 16.6%;
  background: #bbb
}

.line .dot.choose {
  left: 33.3%;
  background: #bbb
}

.line .dot.size {
  left: 50%;
  background: #bbb
}

.line .dot.sound {
  left: 66.6%;
  background: #bbb
}

.line .dot.res {
  left: 83.3%;
  background: #bbb
}

.line .dot.clip {
  left: 100%;
  background: #bbb
}

.slider-ctr {
  width: 100%;
  overflow: hidden;
}

.slider {
  overflow: hidden;
  width: 4200px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform: translate(0px) scale(1);
  -ms-transform: translate(0px) scale(1);
  transform: translate(0px) scale(1);
}

.container-steps.slider-start-active .slider-ul,
.container-steps.slider-start-active .slider-choose,
.container-steps.slider-start-active .slider-size,
.container-steps.slider-start-active .slider-sound,
.container-steps.slider-start-active .slider-res,
.container-steps.slider-start-active .slider-clip {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
}

.container-steps.slider-ul-active .slider-start,
.container-steps.slider-ul-active .slider-choose,
.container-steps.slider-ul-active .slider-size,
.container-steps.slider-ul-active .slider-sound,
.container-steps.slider-ul-active .slider-res,
.container-steps.slider-ul-active .slider-clip {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
}

.container-steps.slider-dl-active .slider-start,
.container-steps.slider-dl-active .slider-choose,
.container-steps.slider-dl-active .slider-size,
.container-steps.slider-dl-active .slider-sound,
.container-steps.slider-dl-active .slider-res,
.container-steps.slider-dl-active .slider-clip {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
}

.container-steps.slider-choose-active .slider-start,
.container-steps.slider-choose-active .slider-ul
.container-steps.slider-choose-active .slider-size,
.container-steps.slider-choose-active .slider-sound,
.container-steps.slider-choose-active .slider-res,
.container-steps.slider-choose-active .slider-clip {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
}

.container-steps.slider-size-active .slider-start,
.container-steps.slider-size-active .slider-ul
.container-steps.slider-size-active .slider-choose,
.container-steps.slider-size-active .slider-sound,
.container-steps.slider-size-active .slider-res,
.container-steps.slider-size-active .slider-clip {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
}

.container-steps.slider-sound-active .slider-start,
.container-steps.slider-sound-active .slider-ul
.container-steps.slider-sound-active .slider-choose,
.container-steps.slider-sound-active .slider-size,
.container-steps.slider-sound-active .slider-res,
.container-steps.slider-sound-active .slider-clip {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
}

.container-steps.slider-res-active .slider-start,
.container-steps.slider-res-active .slider-ul
.container-steps.slider-res-active .slider-choose,
.container-steps.slider-res-active .slider-size,
.container-steps.slider-res-active .slider-sound,
.container-steps.slider-res-active .slider-clip {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
}

.container-steps.slider-clip-active .slider-start,
.container-steps.slider-clip-active .slider-ul
.container-steps.slider-clip-active .slider-choose,
.container-steps.slider-clip-active .slider-size,
.container-steps.slider-clip-active .slider-sound,
.container-steps.slider-clip-active .slider-res {
  -webkit-transform: scale(.5);
  -ms-transform: scale(.5);
  transform: scale(.5);
}

.slider-start,
.slider-ul,
.slider-choose,
.slider-size,
.slider-sound,
.slider-res,
.slider-clip {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.slider-form {
  float: left;
  width: 600px;
  text-align: center;
}

.slider-form h2 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 50px;
  color: #999;
  position: relative;
}

.slider-form h3 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 50px;
  line-height: 1.5;
  color: #999;
  position: relative;
}

.slider-form [type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  background: #161618;
  border: 1px solid #636b6f;
  color: #636b6f;
  border-radius: 50px;
  margin-bottom: 50px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  position: relative;
  z-index: 99;
}

.slider-form [type="text"]:focus {
  background: #161618;
  border: 1px solid #ddd;
}

.slider-form button,
.reset {
  display: inline-block;
  text-decoration: none;
  background: #5892fc;
  border: none;
  color: white;
  padding: 10px 25px;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  position: relative;
}

/*  label */

.label-ctr {
  margin-bottom: 50px;
}

label.radio {
  height: 55px;
  width: 55px;
  display: inline-block;
  margin: 0 10px;
  background: transparent;
  position: relative;
  border-radius: 50%;
  cursor: pointer
}

label.radio input {
  visibility: hidden
}

label.radio input:checked + .btn-file {
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}

label.radio input:checked + .btn-file {
  border-color: #5892fc;
  color: #5892fc;
}

label.radio input:checked + .btn-file:before,
label.radio input:checked + .btn-file:after {
  background: #5892fc;
}

label.checkbox {
  height: 55px;
  width: 55px;
  margin: 0 35%;
  background: transparent;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

label.checkbox input {
  visibility: hidden
}

label.checkbox input:checked + .btn-check {
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}

label.checkbox input:checked + .btn-check {
  border-color: #5892fc;
  color: #5892fc;
}

label.checkbox input:checked + .btn-check:before,
label.checkbox input:checked + .btn-check:after {
  background: #5892fc;
}

.ultype:disabled,
.choose:disabled {
  background: #999;
  color: #555;
  cursor: default;
}

/*	ul */

.container-steps.ul .line .dot-move {
  left: 16.6%;
  -webkit-animation: .3s anim 1;
}

.container-steps.ul .line .dot.ul {
  background: #5892fc;
}

.container-steps.ul .slider {
  -webkit-transform: translate(-600px);
  -ms-transform: translate(-600px);
  transform: translate(-600px);
}

.container-steps.ul .step-ul {
  clip: rect(0, 100px, 25px, 0px);
}

.container-steps.ul .step-start .liner {
  width: 100%;
}

/*	choose */

.container-steps.choose .line .dot-move {
  left: 33.2%;
  -webkit-animation: .3s anim 1;
}

.container-steps.choose .line .dot.choose {
  background: #5892fc;
}

.container-steps.choose .slider {
  -webkit-transform: translate(-1200px);
  -ms-transform: translate(-1200px);
  transform: translate(-1200px);
}

.container-steps.choose .step-start,
.container-steps.choose .step-ul,
.container-steps.choose .step-choose {
  clip: rect(0, 100px, 25px, 0px);
}

.container-steps.choose .step-start .liner,
.container-steps.choose .step-ul .liner,
.container-steps.choose .step-size .liner,
.container-steps.choose .step-sound .liner,
.container-steps.choose .step-res .liner,
.container-steps.choose .step-clip .liner {
  width: 100%;
}

/*	size */

.container-steps.size .line .dot-move {
  left: 50%;
  -webkit-animation: .3s anim 1;
}

.container-steps.size .line .dot.size {
  background: #5892fc;
}

.container-steps.size .slider {
  -webkit-transform: translate(-1800px);
  -ms-transform: translate(-1800px);
  transform: translate(-1800px);
}

.container-steps.size .step-start,
.container-steps.size .step-ul,
.container-steps.size .step-choose,
.container-steps.size .step-size {
  clip: rect(0, 100px, 25px, 0px);
}

.container-steps.size .step-start .liner,
.container-steps.size .step-ul .liner,
.container-steps.size .step-choose .liner,
.container-steps.size .step-sound .liner,
.container-steps.size .step-res .liner,
.container-steps.size .step-clip .liner {
  width: 100%;
}

/*	sound */

.container-steps.sound .line .dot-move {
  left: 66.6%;
  -webkit-animation: .3s anim 1;
}

.container-steps.sound .line .dot.sound {
  background: #5892fc;
}

.container-steps.sound .slider {
  -webkit-transform: translate(-2400px);
  -ms-transform: translate(-2400px);
  transform: translate(-2400px);
}

.container-steps.sound .step-start,
.container-steps.sound .step-ul,
.container-steps.sound .step-choose,
.container-steps.sound .step-size,
.container-steps.sound .step-sound {
  clip: rect(0, 100px, 25px, 0px);
}

.container-steps.sound .step-start .liner,
.container-steps.sound .step-ul .liner,
.container-steps.sound .step-choose .liner,
.container-steps.sound .step-size .liner,
.container-steps.sound .step-res .liner,
.container-steps.sound .step-clip .liner {
  width: 100%;
}

/*	res */

.container-steps.res .line .dot-move {
  left: 83.3%;
  -webkit-animation: .3s anim 1;
}

.container-steps.res .line .dot.res {
  background: #5892fc;
}

.container-steps.res .slider {
  -webkit-transform: translate(-3000px);
  -ms-transform: translate(-3000px);
  transform: translate(-3000px);
}

.container-steps.res .step-start,
.container-steps.res .step-ul,
.container-steps.res .step-choose,
.container-steps.res .step-size,
.container-steps.res .step-sound,
.container-steps.res .step-res {
  clip: rect(0, 100px, 25px, 0px);
}

.container-steps.res .step-start .liner,
.container-steps.res .step-ul .liner,
.container-steps.res .step-choose .liner,
.container-steps.res .step-size .liner,
.container-steps.res .step-sound .liner,
.container-steps.res .step-clip .liner {
  width: 100%;
}

/*	clip */

.container-steps.clip .line .dot-move {
  left: 100%;
  -webkit-animation: .3s anim 1;
}

.container-steps.clip .line .dot.clip {
  background: #5892fc;
}

.container-steps.clip .slider {
  -webkit-transform: translate(-3600px);
  -ms-transform: translate(-3600px);
  transform: translate(-3600px);
}

.container-steps.clip .step-start,
.container-steps.clip .step-ul,
.container-steps.clip .step-choose,
.container-steps.clip .step-size,
.container-steps.clip .step-sound,
.container-steps.clip .step-res,
.container-steps.clip .step-clip {
  clip: rect(0, 100px, 25px, 0px);
}

.container-steps.clip .step-start .liner,
.container-steps.clip .step-ul .liner,
.container-steps.clip .step-choose .liner,
.container-steps.clip .step-size .liner,
.container-steps.clip .step-sound .liner,
.container-steps.clip .step-res .liner,
.container-steps.clip .step-clip .liner {
  width: 100%;
}

// Panels
$panel-default-heading-bg: #161618;

.form-control {
  background-color: #161618;
}

.full-height {
  height: 20vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
}
.m-b-md {
  margin-bottom: 30px;
}

.panel {
  background-color: #161618;
}

.panel-body {
  background-color: #161618;
}

.panel-default > .panel-heading {
  color: #636B6F;
  background-color: #161618;
}

.btn-file {
  background-color: #161618;
  border: 1px solid #5892fc;
}

.btn-check {
  background-color: #161618;
  border: 1px solid #5892fc;
}

.input-group > .input-group-addon {
  background-color: #161618;
}

.example {
  display             : -webkit-box;
  display             : -ms-flexbox;
  display             : flex;
  -webkit-transition  : all .5s;
  transition          : all .5s;
  -webkit-user-select : none;
  -moz-user-select    : none;
  -ms-user-select     : none;
  user-select         : none;
  background          : -webkit-linear-gradient(top, white, black);
  background          : linear-gradient(to bottom, white, black);
}

#full{
  position: absolute;
  top: 0;
  left: 0;
  height:100vh;
  width: 100%;
  background-color: #161618;
  z-index: 9999;
  opacity: 0.9;
  display: none;
}

#progress{
  margin-top: 30%;
  color: #f2f5f4;
  background-color: #161618;
  font-size: 2em;
}

.panel-container {
  padding-right: 0 !important;
  padding-left: 0 !important;
  height: 20px;
}

.file-area {
  width: 100%;
  position: relative;

  input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  }

  .file-dummy {
    width: 100%;
    padding: 30px;
    background: rgba(255,255,255,0.2);
    border: 2px dashed rgba(255,255,255,0.2);
    text-align: center;
    transition: background 0.3s ease-in-out;

    .success {
      display: none;
    }
  }

  &:hover .file-dummy {
    background: rgba(255,255,255,0.1);
  }

  input[type=file]:focus + .file-dummy {
    outline: 2px solid rgba(255,255,255,0.5);
    outline: -webkit-focus-ring-color auto 5px;
  }

  input[type=file]:valid + .file-dummy {
    border-color: rgba(0,255,0,0.4);
    background-color: rgba(0,255,0,0.3);

    .success {
      display: inline;
    }
    .default {
      display: none;
    }
  }
}